* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
}


.principal {
    border: 1px solid red;
    height: 50vh;
    display: flex;
}

.secundario {
    border: 2px solid blue;
    height: 50vh;
}

.formulario {
    height: 150px;
    border: 2px solid black;
    position: relative;
    left: 25vw;
    top: 325px;

}