* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  body {
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    color: white;
  }

.container {
      display:flex  }

  nav{
    display: block;
    width: 300px;
    height: 150px;
    background: orange;
    font-size: 15px;
    margin: 50px;

  }

  main {
    display: block;
    width: 600px;
    height: 250px;
    background: coral;
    font-size: 15px;
    float: center;
 
}


footer{
    width: 200px;
    height: 50px;
    background: purple;
    font-size: 15px;
    margin: 10px;

}