* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  body {
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    color: white;
  }

  div {
      display: block;
      width: 600px;
      height: 250px;
      background: blue;
      font-size: 15px;
  }

  nav{
    display: block;
    width: 300px;
    height: 150px;
    background: orange;
    font-size: 15px;
    margin: 50px;

  }

  main {
    display: block;
    width: 600px;
    height: 250px;
    background: coral;
    font-size: 15px;
    float: center;
 
}

article{
    display: block;
    width: 200px;
    height: 50px;
    background: yellow;
    font-size: 15px;
    margin: 10px;
    color:black;
}

aside {
    display: block;
    width: 50px;
    height: 250px;
    background: rgb(125, 125, 241);
    font-size: 15px;

}

footer{
    width: 200px;
    height: 50px;
    background: purple;
    font-size: 15px;
    margin: 10px;

}