* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.cuadrados {
    width: 50px;
    border: 1px blue solid;
    padding: 15px 0;
    margin: 15px 0;
}

@media all and (min-width:768px) {
    .container {
        display: flex;
        flex-direction: row;
        border-radius: 5px;
    }
}